.card {
    display: flex;
    flex-direction: column;

    color: rgb(1, 13, 13);
    border-radius: 30px;
    background-color: rgb(49, 188, 82);
    padding: 5px;
    margin: 5px;
    position: relative; 

    width: 300px;
    height: 480px;
}

.card:hover{
    transition: 3s;
    box-shadow: 0 8px 16px rgba(214, 128, 90, 0.2);
    transform: scale(1.07);
    transition: box-shadow 1s, transform 1s;
    background-color: rgb(47, 163, 82);}
     
.card img {
        width: 300px;
        height: 330px;
        border-radius: 30px;
        margin-bottom: 10px;
        cursor: pointer;
      } 


     .h3 {
        color:black;
        font-size: 20px;
        cursor: pointer;
     }
       .p {
        line-height: normal;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
       }