.p {
    color: rgb(241, 16, 16);
    background-color: rgb(244, 244, 10);
    /* background-color: #ffcc00; /* Fondo amarillo */ 
    border-radius: 10px; /* Bordes redondeados */
    margin-bottom: 5px; /* Espaciado inferior */
    font-family: cursive;
}  



.label {
    /* Estilos generales */
    font-size: 16px; /* Tamaño de fuente */
    /*color: #333; /* Color del texto */
    font-weight: bold; /* Peso de la fuente */
    color: #555;
    font-weight: bold;
    margin-bottom: 8px;
    transition: color 0.3s ease;
    background-color: #d459db; /* Cambia el color de fondo */
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra */
}

form {
   
    background-color: #4e54c8; /* Color de fondo */
    background-image: linear-gradient(to right, #8f94fb, #4e54c8); 
}