.cards {
    width: 85vw;
    
    margin:1% auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.footer {
    
    color: #fff;
    text-align:center;
    padding: 5px 0;
    position:static;
    bottom: 0;
}